# folder
.idea/*
.idea/vcs.xml
out/*

pom.xml

# class files
*.class

Будет удалено .gitignore
Будет удалено .idea/
Будет удалено ConvertedBodyLorry.dat
Будет удалено JavaStudent.iml
Будет удалено Phonebook.dat
Будет удалено lib/
Будет удалено src/
Будет удалено target/
